<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi"/>
<title>ProWeather by RaulAtCythan</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,700italic,400,100italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="styles.css">

<!-- 1. Load libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.19/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.19/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
<script src="js/angular-openweathermap-api-factory.js"></script>
<!-- 2. Load our 'controllers' -->
<script src='app/app.js'></script>
</head>
<body id="body" ng-app="weatherforproekspert">
	<div id="maincontroller" class="controller-wrapper" ng-controller="weatherController">
		<div class="primary-wrapper container">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
					<h1 class="cols-xs-12 text-center">Welcome to ProWeather!</h1>
					<form class="col-xs-12">
						<div class="input-wrapper col-xs-8">
							<input class="newcity form-control" ng-model="geoLocation" type="text" placeholder="Type your city here">
						</div>
						<button class="col-xs-4 btn btn-success" type="button" ng-click="addLocation(geoLocation)">+1 New</button>
					</form>
					<div class="row">
						<div class="weatherdata col-xs-12" ng-repeat="(key, geoLocation) in geoLocations">
							<div class="col-xs-3">
								<img class="currentweather" src="http://openweathermap.org/img/w/{{geoLocation.weather[0].icon}}.png">
							</div>
							<div class="col-xs-9 currentweather text-data">
								{{geoLocation.name}} 
								{{geoLocation.main.temp}}°C 
								{{geoLocation.weather[0].main}} 
								{{geoLocation.wind.speed}} m/s
							</div>
							<button class="col-xs-12 col-md-8 col-sm-8 btn btn-danger" type="button" value="Remove" ng-click="removeLocation(key)">Remove City</button>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
</body>