body {
    font-size: 16px;
	color:#000;
}

html, body{
    width: 100%;
	font-family:Roboto,Arial,sans-serif;
}

img.currentweather {
    width: 100%;
    float: right;
}

.weatherdata {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.6);
    margin: 15px 0;
    padding: 20px 5px;
}
